asgiref==3.9.2
comtypes==1.4.12
crispy-bootstrap5==2025.6
Django==5.1.12
django-allauth==65.11.2
django-crispy-forms==2.4
django-environ==0.12.0
django-extensions==4.1
django-honeypot==1.2.1
django-ranged-response==0.2.0
django-ratelimit==4.1.0
django-simple-captcha==0.6.2
djangorestframework==3.16.1
pillow==11.3.0
pypiwin32==223
pyttsx3==2.99
pywin32==311
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
